@media (max-width: 1199.98px) {
    .operations-war .operations-war-box {
        height: 380px;
    }
}

@media (max-width: 991.98px) {
    .audio-play .audio .wave .wave-img {
        width: 90%;
    }

    .featured .featured-video iframe {
        width: 100%;
        height: 100%;
    }

    .featured .featured-video .card-body p {
        font-size: 14px;
        line-height: 20px;
        color: #878787;
        font-weight: 400;
    }

    .featured .featured-video .card-body .card-title {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
    }

    .fill-wrapper {
        width: 30%;
    }

    .iconic-leader .iconic-leader-box .content {
        padding: 1px;
    }

    .iconic-leader .iconic-leader-box .content .come-in .title h4 {
        font-size: 18px;
    }

    .footer-logo-img {
        width: 100%;
        height: auto;
    }

    .footer-section .links ul {
        padding: 0px;
    }

    .footer-section .other-links ul {
        padding: 0px;
    }

    .footer-section .contact-links ul {
        padding: 0px;
    }

    .footer-section .contact-links ul li{
        margin: 0px;
        display: flex;
    }

    .contact-links ul li p {
        margin: 0px;
    }

    .other-links ul li .army-links br {
        display: block;
    }

    
    .footer-section ul li a{
        margin-left: 0px;
    }

    .other-links ul li .army-links {
        margin-left: 0px;
    }

    .footer-section .links ul a li {
        padding: 0px;
    }

    .footer-logo {
        display: block;
    }

    .footer-logo-text {
        margin: 0px;
    }

    .iconic-leader .iconic-leader-box .content .come-in .title p {
        font-size: 16px;
        line-height: 20px;
    }

    .banner-text {
       width: 100%;
    }

    .home-banner-slider .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    
    .home-banner-slider {
        padding-top: 0%;
    }

    .carousel-item {
        text-align: center;
        height: 355px;
    }

    .view-btn {
        width: 64%;
    }

    .operations-war .operations-war-box {
        height: 345px;
    }

    .card-img {
        height: 250px;
    }

    .card,
    .card-info {
        height: 320px;
    }

    .opration-card-body {
        height: 180px;
    }

    .card-detail {
        height: 500px;
    }

    .modal-content-img {
        max-height: 450px;
        width: 90%;
    }


    .post-independence-war .war-box {
        height: 393px;
    }

    .profile-box {
        overflow: auto;
    }

    .pagejump .next,
    .pagejump .previous {
        display: block;
    }

    .pagejump p {
        padding: 0 0;
    }

    .comment-form .post-btn {
        width: 40%;
    }

    .blog-detail .recent-posts {
        width: 240px;
        margin-top: 0;
    }
}

@media (max-width: 767.98px) {
    .audio-play .audio .time .time-img {
        max-width: 20px;
        height: 20px;
    }

    .audio-play .audio .time .time-para {
        margin-left: 6px;
    }

    .audio-play .audio .time a {
        margin-left: 8px;
    }

    .audio-play .audio .time a img {
        max-width: 18px;
    }

    .audio-play .audio .wave .wave-img {
        max-width: 70%;
    }

    .audio .align-items-center {
        height: 73px;
    }

    .drp-wrapper {
        width: 40%;
    }

    .fill-wrapper {
        width: 35%;
    }

    .img-wrap {
        width: 50%;
    }

    .icons {
        padding: 0;
        background: none;
    }


    .blog-detail p {
        margin-bottom: 0px;
    }

    .pagejump {
        padding: 24px 0px;
        margin: 70px 0 0px;
    }

    .blog-detail h2:first-child {
        margin-top: 0;
    }

    .blog-detail .recent-posts {
        margin: 0 16px;
        width: 95%;
    }

    .comment-form .post-btn {
        width: 36%;
    }

    .main {
        width: 50%;
    }

    .operations-war .operations-war-box {
        height: 400px;
    }

    .foter-mg {
        margin-top: 25px;
    }

    .featured .featured-video {
        margin-bottom: 24px;
    }

    .blogs .blog-box {
        margin-bottom: 24px;
    }

    .post-independence-war .war-box {
        height: 380px;
    }

    .marshal-wrap img {
        padding: 0px 16px;
        margin-top: 40px;
    }
}

@media (max-width: 575.98px) {
    .about__audio .para p {
        padding-left: 4px;
        font-size: 10px;
        font-weight: 700;
        line-height: 18px;
        color: red;
    }

    .audio-play .audio a .play-img {
        max-width: 27px;
    }

    .audio .align-items-center {
        padding: 0 3px;
        margin: 0 0;
    }

    .about__audio .para {
        padding-left: 4px;
        font-size: 10px;
        line-height: 18px;
        width: 55px;
    }

    .audio-play .audio:last-child {
        margin: 28px 0px 0px;
    }

    .audio-play .audio .wave .wave-img {
        max-width: 90%;
    }

    .audio-play .audio .time .time-img {
        max-width: 21px;
        height: 21px;
    }

    .audio-play .audio .time .time-para {
        margin-left: 6px;
        font-weight: 400;
        color: #323232;
    }

    .audio-play .head {
        font-weight: 700;
        line-height: 32px;
        color: #323232;
        font-size: 24px;
        margin: 0px 0px;
        width: 343px;
        margin: 50px 0 0;
    }

    .featured .featured-video iframe {
        width: 100%;
        height: 100%;
    }

    #video-page .featured-video {
        margin-bottom: 36px;
    }

    .featured .featured-video .card-body .card-title {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
    }

    .featured .featured-video .card-body p {
        font-size: 11px;
        line-height: 20px;
        color: #878787;
        font-weight: 400;
    }

    #video-page br{
        display: block;
        margin: 8px 0px;
    }

    .featured-video {
        box-shadow: none;
    }

    #operation .slick-next {
        right: 17px;
        z-index: 999;
    }

    #operation .slick-prev {
        left: -7px;
        z-index: 999;
    }

    .blogs {
        margin-bottom: 30px;
    }


    .blog-detail p {
        margin-bottom: 0px;
    }

    .pagejump {
        padding: 24px 0px;
        margin: 70px 0 52px;
    }

    .blog-detail .recent-posts {
        margin: 0 12px;
        width: 94%;
    }

    .iconic-leader .iconic-leader-box .content {
        padding: 16px;
    }



    /* .banner-text {
        right: 0%;
        bottom: 0%;
        left: 0%;
        text-align: center;
    } */

    .operations-war .operations-war-box {
        height: auto;
    }

    .card,
    .card-info {
        height: 240px;
    }

    .card img {
        height: 181px;
    }

    .operation-heading {
        padding: 15px 0px;
    }

    .opration-card-body {
        height: 145px;
    }

    .tab-links {
        font-size: 16px;
    }

    .modal-content-img {
        width: 90%;
    }

    .note li {
        font-size: 12px;
        line-height: 20px;
    }

    .regiments-and-corps-banner .banner-content,
    .post-independence-war-banner .banner-content {
        text-align: center;
    }

    .card-detail {
        height: auto;
    }

    .card,
    .card-info {
        height: 280px;
    }

    #leaders .iconic-leader-box {
        height: auto;
    }

    .res-leader {
        margin: 50px 0px 0px;
    }

    .pagination {
        margin-bottom: 50px;
    }

    .post-independence-war .war-box {
        height: auto;
    }
}