.regimental-tb>thead, .regiments-tb>thead {
    vertical-align: middle;
}
.regimental-tb tbody th{
    text-align: center;
}
.note span{
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #45464B;
}
 .podcast-icon{
    background: transparent;
}

.regimental-tb tbody tr td b {
    font-weight: 600;
}

html,
body {
    overflow-x: hidden;
}