@media (max-width: 1499.98px){

    #faq-section .war-content h4 {
        left: 66%;
        width: 24%;
    }

    #faq-section .content .sino-war-text {
        left: 58%;
        width: 34%;
        font-size: 24px;
        transform: translateY(-72px);
    }

}

@media (max-width: 1199.98px) {
    .post-independence-war .war-box {
        height: auto;
    }

    #faq-section .content h3 {
        bottom: 5%;
        left: 54%;
    }

    #faq-section .war-content h4 {
        left: 66%;
        width: 28%;
    }

    #faq-section .content .sino-war-text {
        left: 54%;
        width: 41%;
        font-size: 24px;
        transform: translateY(-72px);
    }
    header .navbar-nav .nav-item .nav-link {
        font-size: 12px !important;
    }

}


@media (max-width: 991.98px) {
    .post-independence-war .war-box {
        height: auto;
    }

    #faq-section .content h3 {
        bottom: 51%;
        left: 44%;
    }

    .post-independence-war .war-details .text,
    .operations-war .operations-war-details .text,
    #faq-section .accordion-details .war-details p {
        font-size: 12px;
        line-height: 20px;
    }


    #faq-section .image-gallery h3 {
        padding: 16px 0px;
    }

    #faq-section .accordion-toggle::before,
    #faq-section .tt-item .tt-collapse-title::before {
        right: 8px;
    }

    .pagejump p {
        padding: 0 16px;
    }

    .blog-wrapper {
        width: 100%;
    }

    .leader-wrapper img {
        width: 30%;
    }

    .iconic-leaders-detail p {
        font-size: 12px;
        line-height: 20px;
    }

    #faq-section .war-content h4 {
        left: 60%;
        width: 36%;
    }

    #faq-section .content .sino-war-text {
        left: 39%;
        width: 56%;
        font-size: 24px;
        transform: translateY(-72px);
    }

}

@media (max-width: 767.98px) {


    #faq-section .content h3 {
        bottom: -41%;
        left: 34%;
    }


    #faq-section .war-content h4 {
        left: 60%;
        width: 36%;
    }

    #faq-section .content .sino-war-text {
        left: 39%;
        width: 56%;
        font-size: 24px;
        transform: translateY(-72px);
    }

    .iconic-leader .iconic-leader-box .content .come-in .title p {
        font-size: 14px;
        line-height: 15px;
    }


}


@media (max-width: 575.98px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    #myModal .close {
        top: 52px;
        right: 14px;
        z-index: 999;
        color: #d30000;
    }

    header .navbar-nav .nav-item .sub-menu ul li:hover .sub-sub-menu {
        left: 62% !important;
        top: 30% !important;
        width: 74% !important;
    }

    header .navbar-nav .nav-item:hover .sub-menu {
        position: relative;
        width: 62%;
        border: none;
    }

    header .navbar-nav .nav-item {
        position: relative;
    }


    .water-mark {
        top: 24%;
        left: 0%;
        width: 100%;
        height: auto;
    }


    .iconic-leaders-detailed-banner {
        background-position: 42%;
        height: 150px;
    }

    .iconic-leaders-detail-banner {
        background-position: 75%;
        height: 150px;
    }


    .navbar-toggler {
        font-size: 25px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .nav-swaper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .carousel-item img {
        height: 350px;
        width: auto;
    }

    .banner-text .banner-head h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FFFBFB;
        margin-bottom: 20px;
    }

    /* .banner-text {
        right: 0%;
        bottom: 0%;
        left: 0%;
        text-align: center;
    } */

    .banner-text .banner-para p {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .about .head {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    .about {
        background-image: none;
    }

    .about p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #45464B;
    }

    .about p br {
        display: none;
    }

    .about .head::before {
        padding: 1px;
        width: 56px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 45px;
        color: #D90000;
        opacity: 1;
        visibility: visible !important;
    }

    .slick-prev {
        left: -2px;
        z-index: 999;
    }

    .slick-next {
        right: 24px;
        z-index: 999;
    }

    .card-info h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .card-info .card-body p {
        font-size: 12px;
        line-height: 20px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        margin: 0px;
    }

    .tab-links {
        border: 0.5px solid #D90000 !important;
        border-radius: 0px !important;
    }


    .card-detail {
        height: auto;
    }

    .card-detail .card-head {
        font-size: 18px;
        line-height: 26px;
    }

    .card-detail .card-body-text {
        font-size: 12px;
        line-height: 20px;
    }

    .war .read-more {
        font-size: 12px;
        line-height: 17px;
        text-decoration-line: underline;
    }

    .bg-operation .head {
        font-size: 24px;
        line-height: 32px;
        width: 50%;
    }

    .view-btn {
        display: unset;
        font-size: 12px;
        line-height: 22px;
    }

    #operation .head::before {
        padding: 1px;
        left: 3px;
        width: 50px;
    }

    .btn-seciton {
        margin-top: -40px;
    }

    #operation .heading {
        font-size: 16px;
        line-height: 20px;
    }

    #operation .card-body-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #45464B;
    }

    .operation-section .read-more {
        font-size: 12px;
        line-height: 17px;
    }


    .iconic-leader .head {
        font-size: 24px;
        line-height: 32px;
    }


    #leaders .head::before {
        left: 0px;
        padding: 1px;
        width: 54px;
    }

  

    .iconic-leader .iconic-leader-box .content .come-in .title p {
        font-size: 12px;
        line-height: 20px;
    }

    .iconic-leader .iconic-leader-box .content .come-in .read-more {
        font-size: 9px;
        line-height: 17px;
    }

    .iconic-leader .iconic-leader-box {
        margin-bottom: 100px;
    }

    #leaders .iconic-leader-box {
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 26px;
        height: 412px;
    }

    .blog-detail {
        padding: 40px 0px 40px 0px;
    }

    .blogs {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .blogs .head {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .blogs .blog-box .content .date {
        font-size: 11px;
        line-height: 19px;
        color: #878787;
    }

    .blogs .blog-box .content .date svg {
        margin-right: 10px;
    }

    .blogs .blog-box .content .come-in .title h4 {
        font-size: 12px;
        line-height: 20px;
    }

    .blogs .head::before {
        left: 2px;
        padding: 1px;
        width: 48px;
    }

    .blogs .blog-box {
        margin-bottom: 24px !important;
    }

    .featured .head {
        font-size: 24px;
        line-height: 32px;
    }

    .featured-video {
        height: auto;
    }

    .featured .head::before {
        left: 2px;
        padding: 1px;
        width: 48px;
    }

    .featured .featured-video iframe {
        width: 366px;
    }

    .featured .featured-video {
        margin-bottom: 24px;
    }


    .featured .featured-video .card-body .card-title {
        font-size: 16px;
        line-height: 26px;
    }

    .featured .featured-video .card-body .card-title br {
        display: none;
    }



    .regiments-and-corps-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .regiments-and-corps-banner {
        height: 150px;
    }

    .regiments-and-corps-detail h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .regiments-and-corps-detail p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
    }


    .regiments-and-corps-detail .box-table .table thead tr th {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding: 8px 2px 10px 8px;
    }

    .table tbody tr th {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        padding: 8px 2px 10px 8px;
    }

    table.regimental-tb {
        overflow-x: scroll;
        display: block;
    }
    .gallantry-award span {
        font-size: 14px !important;
        line-height: 22px !important;
    }

    .table tbody tr td {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 8px 2px 10px 8px;
    }



    .feed-mob-scrol {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .footer-section .links ul {
        padding: 0px;
    }

    .footer-section .links ul li {
        display: inline-block;
        width: 49%;
    }

    .footer-section .links ul li .dropdown ul li {
        width: 100%;
    }


    .footer-section ul li a {
        margin-left: 0px;
    }

    .contact-links ul li a {
        margin-left: 18px;
    }

    .desktop-none {
        display: block;
        margin: 34px 0px;
    }

    .mobile-none {
        display: none;
    }

    .list ul li {
        margin: 0px 16px;
    }

    .order-4 {
        order: 4 !important;
    }

    .block-dis {
        display: block;
        margin-top: 0px !important;
    }

    /*organization-structure-heading*/

    .iconic-leaders-detail-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-top: 26px;
    }

    .iconic-leaders-detailed-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-top: 26px;
    }

    .leader-wrapper img {
        margin-bottom: 40px;
        width: 100%;
    }

    .leader-wrapper {
        flex-direction: column;
        padding: 0 20px;
    }

    .post-independence-war-banner {
        height: 126px;
    }

    .post-independence-war .war-box {
        height: auto;
    }


    .post-independence-war-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
    }

    .post-independence-war .war-details .head {
        line-height: 32px;
    }

    .structure-img .box-img img {
        padding-bottom: 32px;
    }

    section {
        padding: 40px 0px;
        background-color: transparent;
    }

    .footer-section .footer-row {
        padding: 0px 0px 40px 0px;
    }

    #faq-section .accordion-details {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #faq-section .accordion-details h3 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
        padding: 8px 16px;
    }

    #faq-section .accordion-details .war-details h4 {
        font-size: 24px;
        line-height: 32px;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }

    #faq-section .image-gallery h3 {
        padding: 40px 0px 10px;
    }


    #faq-section .content h3,
    #faq-section .war-content h4 {
        left: 5% !important;
        font-weight: 700;
        font-size: 20px !important;
        line-height: 32px;
        width: 90% !important;
        transform: translateY(-60px) !important;
        text-align: center;
        padding: 6px 3px !important;
    }



    #faq-section .image-gallery img {
        height: 158px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;
    }

    .full-wdt {
        width: 100%;
    }

    .search-icon-header {
        display: block !important;
    }


    header .search-icon {
        margin-top: 0px;
    }

    .indep-war .content {
        margin-top: 20px;
    }



    .iconic-leaders-detail h2 {
        margin-top: 70px;
        font-size: 24px;
        line-height: 32px;
        padding: 0px 16px;
    }

    .iconic-leaders-detail p {
        font-size: 12px;
        line-height: 20px;
        margin: 15px 0;
        padding: 0px 16px;
        margin: 50px 0;
    }

    .operations-banner .banner-content {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .operations-banner {
        height: 126px;
    }


    .res-leader {
        width: 100%;
        padding: 0;
    }

    .blog-detail .recent-posts ul li {
        font-size: 12px;
        line-height: 20px;
    }

    .blog-detail .recent-posts {
        margin: 0 16px;
    }

    .blog-detail h4 {
        font-size: 24px;
    }

    .blog-detail h2 {
        font-size: 24px;
        line-height: 32px;
        border-top: 1px solid #F2EDED;
        padding: 16px 0 0;
        margin-top: 58px;
    }

    .blog-detail .b-img {
        margin: 16px 0;
    }

    .socail-icons {
        margin: 12px 0px 24px;
    }

    .blog-detail p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 70px;
    }

    .blog-para img {
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .pagejump .next,
    .pagejump .previous {
        display: block;
    }

    .pagejump a {
        display: inline-block;
        margin: 4px 0 8px;
    }

    .pagejump p {
        padding: 0px;
        font-size: 10px;
    }

    .pagejump {
        padding: 24px 0px;
    }

    .Comment-box .comment-row h3 {
        padding-bottom: 24px;
    }

    .Comment-box {
        padding: 32px 0px;
    }

    .Comment-box .comment-row h3::after {
        top: 32px;
    }

    .Comment-box .comment-row h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .Comment-box .user-comment .reply h5 {
        font-size: 14px;
        line-height: 22px;
    }

    .Comment-box .user-comment .reply h5 p {
        margin-top: 17px;
    }

    .Comment-box .user-comment p {
        font-size: 12px;
    }

    .comment-form .post-btn {
        width: 36%;
        margin-top: 32px;
        font-size: 12px;
    }

    .comment-form .form-margin {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 17px;
    }

    .comment-form #area {
        height: 132px;
    }

    .comment-form .input-field {
        display: block;
        margin-top: 24px;
    }

    .comment-form .form-control {
        width: 100%;
        margin-bottom: 17px;
    }

    .comment-row .load-more {
        text-align: center;
        padding-top: 24px;
    }

    .Comment-box .user-comment p {
        width: 100%;
    }

    .Comment-box .user-comment .reply {
        display: block;
        position: relative;
    }

    .Comment-box .user-comment .reply a {
        position: absolute;
        top: 290%;
    }

    .Comment-box .user-comment {
        padding: 17px 23px;
        height: 255px;
    }

    .search {
        width: 100%;
        margin-bottom: 16px;
        margin-top: 70px;
    }

    .icons {
        padding: 25px;
    }

    .filter {
        display: none;
    }

    .form-control {
        background-color: #F9F9F9;
    }

    .img-wrap {
        width: 50%;
    }

    #images .img-body {
        padding: 16px 0px;
    }

    #images .image-main {
        height: auto;
        margin: 0px 0px 24px;
    }

    .marg {
        margin-bottom: 57px;
    }

    .army-img-mobile {
        display: block;
        margin-bottom: -1px;
    }

    .army-img {
        display: none;
    }

    .profile {
        background: #fff;
    }


    .card,
    .card-info {
        height: auto;
    }

    .table-wrap {
        margin: 30px 0px;
    }

    #note ol li {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .contact-section .contact-page p {
        width: 100%;
    }

    .contact-section .contact-page h3  {
        width: 100%;
    }

    .contact-section .contact-form form.form-group .form-row .sub-btn{
        width: 26%;
    }

    .contact-section .contact-page {
        padding: 25px 0px;
    }

    .carousel-indicators {
        bottom: -20px;
    }

    .about-section {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .war {
        margin-top: 50px;
    }

    .award .content {
        margin-top: 30px;
    }

    .award .table-data .border-table {
        overflow-x: auto;
        display: block;
    }

    .award .award-section {
        width: 100%;

    }

    header .navbar-nav .nav-item ul.sub-menu li:hover ul.sub-sub-menu3 {
        border: none;
        padding: 0px;
        position: relative;
        /* border: 1px solid; */
        left: 0;
    }

    header .navbar-nav .nav-item ul.sub-menu li:hover .indipendent-war {
        border: none;
        left: 86%;
    }

    header .navbar-nav .nav-item ul.sub-menu li:hover ul.sub-sub-menu {
        position: relative;
        /* border: 1px solid; */
        left: 0;
    }
    header .navbar-nav .nav-item ul.sub-menu li:hover ul.sub-sub-menu li {
        list-style: none;
    }
}