@media (max-width: 1199.98px) {
    .post-independence-war .war-box{
        height: auto;
         }
         #faq-section .content h3 {
            bottom: 5%;
            left: 54%;
        }
}


@media (max-width: 991.98px) {
    .post-independence-war .war-box{
        height: auto;
    }
    #faq-section .content h3 {
        bottom: 51%;
        left: 44%;
    }
    .post-independence-war .war-details .text, .operations-war .operations-war-details .text, #faq-section .accordion-details .war-details p{
        font-size: 12px;
        line-height: 20px;
    }
    #faq-section .accordion-details {
        margin-top: 57px;
        margin-bottom: 70px;
    }
    #faq-section .image-gallery h3 {
        padding: 16px 0px;
    }
    #faq-section .accordion-toggle::before, #faq-section .tt-item .tt-collapse-title::before {
        right: 8px;
    }
    .pagejump p {
        padding: 0 16px;
    }
    .blog-wrapper{
        width: 100%;
    }
    .leader-wrapper img{
        width: 30%;
    }
    .iconic-leaders-detail p {
        font-size: 12px;
        line-height: 20px;
    }
    .fill-wrapper{
        width: 30%;
    }
    .modal-content-img {
        width: 90%;
        height: 400px;
    }
    .featured .featured-video iframe {
        width: 100%;
        height: 100%;
    }
    .featured .featured-video .card-body p {
        font-size: 14px;
        line-height: 20px;
        color: #878787;
        font-weight: 400;
    }
    .featured .featured-video .card-body .card-title{
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
    }
    ul {
         padding-left: 0rem;
    }
    .other-links ul li .army-links {
        margin-left: 0px;
    }
    .contact-links ul li {
        margin-left: 0px;
    }
    .list ul {
        margin-left: 0px;
    }
    .footer-section .links ul li {
        display: inline-block;
        width: 49%;
    }
    .footer-section .links ul {
        padding: 0px;
    }
    .desktop-none {
        display: block;
        margin: 34px 0px;
    }

    .mobile-none {
        display: none;
    }
    
    .links-2 ul li a {
        margin-left: 0px;
    }
    .audio-play .audio .wave .wave-img {
        width: 90%;
    }
    .banner-text .banner-para p {
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .banner-text .banner-head h2 {
        font-weight: 400;
        font-size: 47px;
        line-height: 60px;
        color: #FFFBFB;
        margin-bottom: 26px;
    }
    .card-info, .card-img, .card{
        height: 300px;
    }
    .view-btn{
        width: 40%;
    }
    .operations-war .operations-war-details {
        height: 200px;
    }
    header .search-icon {
        margin-top: 24px;
    }
    .iconic-leader .iconic-leader-box .content{
        padding: 5px;
    }
    .filter {
        margin-bottom: 20px;
    }
    #images .image-main{
        margin: 0px 0px 10px; 
    }
}

@media (max-width: 767.98px) {

    
    #faq-section .content h3 {
        bottom: -41%;
        left: 34%;
    }
    .img-wrap{
        width: 50%;
    }
    .drp-wrapper{
        width: 40%;
    }
    .fill-wrapper{
        width: 35%;
    }
    .audio-play .audio a .play-img{
        max-width: 25px;
    }

    .about__audio .para{
        padding-left: 4px;
        font-size: 10px;
        line-height: 18px;
    }
    .audio-play .audio .time .time-img{
        max-width: 20px;
        height: 20px;
    }

    .audio-play .audio .time .time-para{
        margin-left: 6px;
    }

    .audio-play .audio .time a{
        margin-left: 8px;
    }
    .audio-play .audio .time a img{
        max-width: 18px;
    }

    .audio-play .audio .wave .wave-img{
        max-width: 70%;
    }
    .audio .align-items-center {
        height: 73px;
    }
}


@media (max-width: 575.98px) {

    .navbar-toggler {
        font-size: 25px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .nav-swaper {
        display: flex;
        flex-direction: row-reverse;
    }

    .carousel-item img {
        height: 350px;
        width: auto;
    }

    .banner-text .banner-head h2 {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FFFBFB;
        margin-bottom: 20px;
    }

    /* .banner-text {
        right: 0%;
        bottom: 0%;
        left: 0%;
        text-align: center;
    } */

    .banner-text .banner-para p {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .about .head {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    .about {
        background-image: none;
    }

    .about p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #45464B;
    }

    .about p br {
        display: none;
    }

    .about .head::before {
        padding: 1px;
        width: 56px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 45px;
        color: #D90000;
        opacity: 1;
        visibility: visible !important;
    }

    .slick-prev {
        left: -2px;
        z-index: 999;
    }

    .slick-next {
        right: 24px;
        z-index: 999;
    }

    .card-info h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .card-info .card-body p {
        font-size: 12px;
        line-height: 20px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        margin: 0px;
    }

    .tab-links {
        border: 0.5px solid #D90000 !important;
        border-radius: 0px !important;
    }


    .card-detail {
        height: auto;
    }

    .card-detail .card-head {
        font-size: 18px;
        line-height: 26px;
    }

    .card-detail .card-body-text {
        font-size: 12px;
        line-height: 20px;
    }

    .war .read-more {
        font-size: 9px;
        line-height: 17px;
        text-decoration-line: underline;
    }

    .bg-operation .head {
        font-size: 24px;
        line-height: 32px;
    }

    .view-btn {
        display: unset;
        font-size: 12px;
        line-height: 22px;
    }

    #operation .head::before {
        padding: 1px;
        left: 3px;
        width: 50px;
    }

    .btn-seciton {
        margin-top: -40px;
    }

    #operation .heading {
        font-size: 12px;
        line-height: 20px;
    }

    #operation .card-body-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
        color: #45464B;
    }

    .operation-section .read-more {
        font-size: 9px;
        line-height: 17px;
    }


    .iconic-leader .head {
        font-size: 24px;
        line-height: 32px;
    }

   
    #leaders .head::before {
        left: 0px;
        padding: 1px;
        width: 54px;
    }

    .iconic-leader .iconic-leader-box .content .come-in .title h4 {
        font-size: 18px;
        line-height: 24px;
    }

    .iconic-leader .iconic-leader-box .content .come-in .title p {
        font-size: 12px;
        line-height: 20px;
    }

    .iconic-leader .iconic-leader-box .content .come-in .read-more {
        font-size: 9px;
        line-height: 17px;
    }
    .iconic-leader .iconic-leader-box .content{
        bottom: 0px;
    }
   

    #leaders .iconic-leader-box {
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 26px;
        height: 412px;
    }


    .blogs {
        padding-bottom: 50px;
    }

    .blogs .head {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .blogs .blog-box .content .date {
        font-size: 11px;
        line-height: 19px;
        color: #878787;
    }

    .blogs .blog-box .content .date svg {
        margin-right: 10px;
    }

    .blogs .blog-box .content .come-in .title h4 {
        font-size: 12px;
        line-height: 20px;
    }

    .blogs .head::before {
        left: 2px;
        padding: 1px;
        width: 48px;
    }

    .blogs .blog-box {
        margin-bottom: 24px;
    }

    .featured .head {
        font-size: 24px;
        line-height: 32px;
    }

    .featured .head::before {
        left: 2px;
        padding: 1px;
        width: 48px;
    }

    .featured .featured-video .card-body .card-title br {
        display: none;
    }

    .regiments-and-corps-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .regiments-and-corps-banner {
        height: 150px;
    }

    .regiments-and-corps-detail h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .regiments-and-corps-detail p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 70px;
    }


    .regiments-and-corps-detail .box-table .table thead tr th {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding: 8px 2px 10px 8px;
    }

    .table tbody tr th {
        font-size: 10px;
        line-height: 20px;
        font-weight: 500;
        padding: 8px 2px 10px 8px;
    }


    .table tbody tr td {
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        padding: 8px 2px 10px 8px;
    }



    .feed-mob-scrol {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    

    .contact-links ul li a {
        margin-left: 18px;
    }

   

    .list ul li {
        margin: 0px 16px;
    }

    .order-4 {
        order: 4 !important;
    }

    .block-dis {
        display: block;
        margin-top: 0px !important;
    }
    /*organization-structure-heading*/

    .iconic-leaders-detail-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
    }
    
    .leader-wrapper img{
     margin-bottom: 40px; 
     width: 100%;
    }

    .leader-wrapper {
        flex-direction: column;
        padding: 0 20px;
    }

    .post-independence-war-banner{
        height: 126px;
    }

    .post-independence-war .war-box{
        height: auto;
    }

    .post-independence-war-banner .banner-content{
         font-size: 24px;
        line-height: 32px;
    }

    .post-independence-war .war-details .head{
        line-height: 32px;
    }

    .structure-img .box-img img {
        padding-bottom: 32px;
    }

    section {
        padding:20px 0px 70px;
        background-color: transparent;
    }
    a{
        font-size: 12px;
    }
    
    #faq-section .accordion-details {
        margin-top: 20px;
        margin-bottom: 70px;
    }
    #faq-section .accordion-details h3 {
        font-size: 24px;
        line-height: 32px;
    }

    #faq-section .accordion-details .war-details h4 {
        font-size: 24px;
        line-height: 32px;
    }
    
    p {
        font-size: 12px;
        line-height: 20px;
    }

    #faq-section .image-gallery h3 {
        padding: 40px 0px 10px;
    }

    #faq-section .accordion-details h3 {
        margin-bottom: 70px;
    }

    #faq-section .content h3 {
        bottom: -4%;
        left: 10%;
        right: 10%;
        text-align: center;
        padding: 9px 7px;
    }

    #faq-section .image-gallery img {
        height: 158px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
    }

    .full-wdt{
        width: 100%;
    }

    .res-image{
        height: 315px;
    }
    header .search-icon {
        margin-top: 0px;
    }
    .iconic-leaders-detail-banner .banner-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .iconic-leaders-detail h2 {
        margin-top: 70px;
        font-size: 24px;
        line-height: 32px;
        padding: 0px 16px;
    }
    .iconic-leaders-detail p {
        font-size: 12px;
        line-height: 20px;
        margin: 15px 0;
        padding: 0px 16px;
        margin: 50px 0;
    }
    .operations-banner {
        margin-bottom: 50px;
    }
    .operations-banner .banner-content, .iconic-leaders-detailed-banner .banner-content, .iconic-leaders-detail-banner .banner-content {
        font-size: 24px;
        line-height: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .res-leader{
        width: 100%;
        padding: 0;
    }
    .blog-detail .recent-posts {
        width: 92%;
    }
    .blog-detail .recent-posts ul li {
        font-size: 12px;
        line-height: 20px;
    }
    .blog-detail .recent-posts {
        margin: 0 16px;
    }
    .blog-detail h4 {
        font-size: 24px;
    }
    .blog-detail h2 {
        font-size: 24px;
        line-height: 32px;
        border-top: 1px solid #F2EDED;
        padding: 16px 0 0;
        margin-top: 70px;
    }
    .blog-detail h2:first-child{
        margin-top: 0px;
    }
    .blog-detail .b-img {
        margin: 16px 0;
    }
    .socail-icons {
        margin: 12px 0px 24px;
    }
    .blog-detail p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .blog-para img {
        margin: 70px 0 0;
    }
    .pagejump .next, .pagejump .previous{
        display: block;
    }
    .pagejump a {
        display: inline-block;
        margin: 4px 0 8px;
    }
    .pagejump p {
         padding: 0px;
         font-size: 10px;
    }
    .pagejump {
        padding: 24px 0px;
        margin-top: 70px;
    }
    .Comment-box .comment-row h3 {
        padding-bottom: 24px;
    }
    .Comment-box {
        padding: 32px 0px;
    }
    .Comment-box .comment-row h3::after {
        top: 32px;
    }
    .Comment-box .comment-row h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .Comment-box .user-comment .reply h5 {
        font-size: 14px;
        line-height: 22px;
    }
    .Comment-box .user-comment .reply h5 p {
        margin-top: 17px;
    }
    .Comment-box .user-comment p {
        font-size: 12px;
    }
    .comment-form .post-btn {
        width: 36%;
        margin-top: 32px;
        font-size: 12px;
    }
    .comment-form .form-margin {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 17px;
    }
    .comment-form #area {
        height: 132px;
    }
    .comment-form .input-field {
        display: block;
        margin-top: 24px;
    }
    .comment-form .form-control {
        width: 100%; 
        margin-bottom: 17px;
    }
    .comment-row .load-more {
        text-align: left;
        padding-top: 24px;
    }
    .Comment-box .user-comment p {
        width: 100%;
    }
    .Comment-box .user-comment .reply {
        display: block;
        position: relative;
    }
    .Comment-box .user-comment .reply a {
        position: absolute;
        top: 290%;
    }
    .Comment-box .user-comment {
        padding: 17px 23px;
        height: 255px;
    }
    .search {
        width: 100%;
        margin-bottom: 16px;
        margin-top: 70px;
    }
    .icons {
        padding: 25px;
    }
    .filter {
        display: none;
    }
    .form-control {
    background-color: #ffffff;
    }
    #images .img-body {
        padding: 16px 0px;
    }
    #images .image-main {
        margin: 0px 0px 10px;
    }
    .marg{
        margin-bottom: 57px;
    }
    .featured .featured-video iframe {
        width: 100%;
        height: 100%;
    }
    #video-page .featured-video {
        margin-bottom: 36px;
    }
    .featured .featured-video .card-body p {
        font-size: 12px;
        line-height: 20px;
    }
    .featured .featured-video .card-body .card-title {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
    }
    .featured .featured-video .card-body p {
        font-size: 12px;
        line-height: 20px;
        color: #878787;
        font-weight: 400;
    }
    .featured-video {
         box-shadow: none;
    }
    .card-body {
        padding: 0.7rem 0.7rem;
    }
    .featured{
        padding: 0 0;
        margin-top: 70px;
    }
    #images{
        padding: 0 0;
    }
    .icons{
        margin-bottom: 40px;
        background-color: transparent;
    }
    .ytp-embed-mobile-exp .ytp-title-channel-logo, .ytp-embed-mobile-exp.ytp-small-mode .ytp-title-channel-logo {
        width: 48px;
        height: 48px;
        margin: 0;
        display: none;
    }
    .html5-video-player a {
        display: none;
    }
    .about__audio .para p{
        padding-left: 4px;
        font-size: 10px;
        font-weight: 700;
        line-height: 18px;
        color: red;
    }
    .audio-play .audio a .play-img {
        max-width: 27px;
    }
    .audio .align-items-center {
        padding: 0 3px;
        margin: 0 0;
    }
    .about__audio .para {
        padding-left: 4px;
        font-size: 10px;
        line-height: 18px;
        width: 55px;
    }
    .audio-play .audio:last-child{
        margin: 28px 0px 0px;
    }
    .audio-play .audio .wave .wave-img {
        max-width: 90%;
    }
    .audio-play .audio .time .time-img {
        max-width: 21px;
        height: 21px;
    }
    .audio-play .audio .time .time-para {
        margin-left: 6px;
        font-weight: 400;
        color: #323232;
    }
    .audio-play .head {
        font-weight: 700;
        line-height: 32px;
        color: #323232;
        font-size: 24px;
        margin: 0px 0px;
        width: 343px;
        margin: 50px 0 0;
    }
    .card-info{
        height: 240px;
    }
    .card-img {
        height: 181px;
    }
    .card-img {
        height: 181px;
    }
    .operations-war .operations-war-details {
        padding: 16px 16px;
        height: 140px;
    }
    .search input {
        background-color: #F9F9F9;
    }
    .search .icon {
        bottom: 36px;
    }
    .search {
        border-bottom: 1px solid #E4E4E4;
        padding-bottom: 16px;
    }
}