@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    overflow-x: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

section {
    padding: 50px 0px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}




/* header section css start here  */
#navbarSupportedContent {
    justify-content: center;
}

.navbar .active {
    color: #D90000 !important;
}


.accordion .active {
    color: #D90000 !important;
}


.carousel-indicators .active {
    background-color: #d90000;
}

.carousel-indicators [data-bs-target] {
    background-color: #d90000;
}



header {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9;
}

/* header - navbar */

.navbar-brand {
    padding: 0px;
}

header .navbar {
    padding: 0px;
    
}

header .navbar-nav {
    margin-top: 20px;
}

header .navbar-nav .menu-item {
    margin: auto 6px;

}



header .navbar-nav .menu-item a:hover {
    color: #D90000;
}




header .navbar-nav .menu-item a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    color: #000;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    padding: 8px;
}

/* sub-menu */

header .icon-color {
    color: #D90000;
}

header .search-icon {
    height: 19px;
    align-items: center;
    color: #d90000;
    margin-left: 12px;
    margin-top: 24px;
}
header .navbar-nav .menu-item .sub-menu {
    display: none;
}
header .navbar-nav .menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #fff;
}

header .navbar-nav .menu-item:hover ul.sub-menu {
    list-style: none;
    padding: 0px;
}

header .navbar-nav .menu-item .sub-menu a {
    color: #636363;
    padding: 0px;
    margin: 22px 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    background: none;
}

header .navbar-nav .menu-item .sub-menu a:hover {
    color: #D90000;
}

/* sub sub nav start here  */

header .navbar-nav .menu-item ul.sub-menu li {
    margin: 12px 0px;
}

#menu-other-links {
    padding-left: 0px;
}

header .navbar-nav .menu-item ul.sub-menu li ul.sub-sub-menu {
    display: none;
}

header .navbar-nav .menu-item ul.sub-menu li ul.sub-sub-menu2 {
    display: none;
}
header .navbar-nav .menu-item ul.sub-menu li:hover ul.sub-sub-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    left: 99%;
    top: 12%;
    /* width: 100%; */
    list-style: none;
    padding: 0px;
}

header .navbar-nav .menu-item ul.sub-menu li:hover .indipendent-war {
    top: 0%;
}

header .navbar-nav .menu-item ul.sub-menu li .sub-sub-menu .sub-sub-menu2 {
    display: none;
}

header .navbar-nav .menu-item ul.sub-sub-menu li:hover .sub-sub-menu2 {
    display: block;
    position: absolute;
    background-color: #fff;
    left: 99%;
    top: 22%;
    /* width: 100%; */
    padding: 0px;
}

header .navbar-nav .menu-item ul.sub-menu li .sub-menu {
    display: none;
}

header .navbar-nav .menu-item ul.sub-menu li:hover ul.sub-menu {
    display: block;
    position: absolute;
    background-color: #fff;
    left: 100%;
    top: 22%;
    list-style: none;
    padding-left: 0;
    width: max-content;
}





/* header section css ends here  */

.army-img {
    background: linear-gradient(187.94deg, rgba(224, 224, 224, 0.6) 8.57%, rgba(243, 243, 243, 0) 96.9%);
    margin-bottom: -1px;
}

.desktop-none {
    display: none;
}

.other-links ul li .army-links br {
    display: none;
}

footer {
    background-color: black;
}

.banner-section {
    padding: 0px;
}

.bg-image-carousel {
    position: absolute;
    top:0%;
    /* left: 16%;
    bottom: 50%;
    right: 47%; */
}

.banner-text {
    position: relative;
    width: 45%;
    height: 100%;
}

.banner-text .banner-head h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 68px;
    color: #FFFBFB;
    margin-bottom: 34px;
}

.banner-text .banner-head span {
    font-weight: 700;
}

.banner-text .banner-para p {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 38px;
}

.carousel-item {
    height: 603px;
    display: flex !important;
    align-items: center;    
}

.home-banner-slider .home-banner .slick-arrow {
    display: none !important;
}
.home-banner-slider {
    padding-top: 0%;
    padding-bottom: 0;
}

.home-banner-slider .home-banner .slick-dots {
    bottom: 34px;
}

.banner-btn {
    align-items: center;
    padding: 8px 16px;
    color: white;
    width: 145px;
    height: 48px;
    background: #D90000;
    border: 1px solid #D90000;
    border-radius: 5px;

}

.banner-btn:hover {
    border: 1px solid #D90000;
    color: #d90000;
    background-color: #fff;
}

/* about section start here  */

.about {
    background-image: url('../img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -8% -56%;
    background-color: #fff;
}


.nav-pills {
    justify-content: center;
}


.nav-pills a.active,
.nav-pills .show>a {
    color: #fff;
    background-color: #D90000;
    margin: 0px 26px;
}

.war .nav-item .tab-links  {
    color: #D90000;
    border: 2px solid #D90000 !important;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.war .nav-item .tab-links.active {
    background-color: #D90000;
    color: #fff;
}
.war .nav-item .tab-links :hover {
    color: #D90000;
}
.war .nav-item {
    margin: 0 12px;
}

.about .head {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: #050505;
}

.about .head::before {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 8px;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 84px;

}

.about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

.about-section {
    padding-top: 54px;
    padding-bottom: 74px;
}

.about-section::before {
    position: absolute;
    border: 2px solid black;
}

.about .box {
    position: relative;
    transition: all 0.9s ease;
}

.about .box:hover .card-info {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.about .box:hover .card {
    visibility: visible;
    opacity: 1;
    width: 100%;
    top: 0px;
    transition: visibility 0.3s, opacity 0.6s linear;
}

.card {
    background: #D90000;
    border: none;
    height: 240px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.10s linear;
}

.card-info {
    box-shadow: 0px 4px 10px 1px rgba(182, 182, 182, 0.25);
    height: 240px;
    border-top: 8px solid #D90000;
    transition: all 0.9s ease;
    padding: 24px 28px;
    margin: 0px 12px;
    position: relative;
    margin-bottom: 12px;
    background: #fafafa;
}

.card-info h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #050505;
}

.card-info .text {
    text-align: center;
}

.card-img {
    height: 181px;
}

.card-text {
    color: #fff !important;
    font-weight: 700;
    font-size: 18px !important;
    line-height: 34px !important;
    text-align: center;
}

.card-detail {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    height: 574px;
    background-color: #fafafa;
}

.card-detail .card-head {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #050505;
}

.card-detail .card-body-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
    text-align: start;

}

.war {
    margin-top: 100px;
}

.war .read-more {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #D90000;
    text-align: start;
}

.war-btn {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: #D90000;
    border: #D90000;
}

.justify {
    text-align: center;
}


/* operations seciton start here  */

.operation-heading {
    padding: 48px 0px;
}

#operation {
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

#operation .heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.bg-operation .head {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
    position: relative;
}

#operation .head::before {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 8px;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 84px;
}

.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}


.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

/* Flip Cards CSS */

.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}

.card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-detail {
    text-align: start;
}

.opration-card-body {
    background-color: #fff;
}

.view-btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: #D90000;
    text-decoration: none;
    width: 34%;
    background: #FFFFFF;
    border: 2px solid #D90000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #D90000;

}

.view-btn:hover {
    color: #fff;
    background-color: #D90000;
    transition: all 0.6s ease;
}

.btn-seciton {
    text-align: -webkit-right;
}

.operation-section {
    margin: 0px 12px;
}

.operation-section .read-more {
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #D90000;
}

.operation-section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #45464B;
}

/* operations section ends  here  */


#leaders .blog-box {
    position: relative;
}



#leaders .blog-box img {
    width: 100%;
}



#leaders .blog-box .content {
    position: absolute;
    width: 80%;
    height: 100px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    left: 0;
    bottom: -40px;
    padding: 16px;
    cursor: pointer;
}

#leaders .blog-box .content .date {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #636363;
}

#leaders .blog-box .content .come-in {
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#leaders .blog-box .content .come-in .title {
    text-decoration: none;
}

#leaders .blog-box .content .come-in .title h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #050505;
}

#leaders .blog-box .content .come-in .read-more {
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #D90000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#leaders .blog-box .content .come-in .read-more:hover {
    color: #000;
}

#leaders .come-in .read-more span {
    font-size: 12px;
    color: #D90000;
}

.blogs-pages .row>div .blog-box {
    margin-bottom: 60px;
}


/* Blog section start here  */


.blogs {
    background-image: url('../img/blog-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 74px;
    padding-bottom: 90px;
}

.blogs .head {
    font-weight: 700;
    position: relative;
    font-size: 48px;
    line-height: 68px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.blogs .head::before {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 8px;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 84px;
}

.blogs .blog-box {
    position: relative;
}



.blogs .blog-box:hover .come-in {
    -webkit-transform: translateY(-28px);
    transform: translateY(-38px);
}

.blogs .blog-box .content {
    position: absolute;
    width: 80%;
    height: 100px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    left: 0;
    bottom: -40px;
    padding: 16px;
    cursor: pointer;
}

.blogs .blog-box .content .date {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #636363;
}

.blogs .blog-box .content .come-in {
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.blogs .blog-box .content .come-in .title {
    text-decoration: none;
}

.blogs .blog-box .content .come-in .title h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #050505;
}

.blogs .blog-box .content .come-in .read-more {
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #D90000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.blogs .blog-box .content .come-in .read-more:hover {
    color: #d90000;
}

.blogs .come-in .read-more span {
    font-size: 12px;
    color: #D90000;
}

.blogs-pages .row>div .blog-box {
    margin-bottom: 60px;
}




/* blog section ends here  */

/* featured video section start here  */


.featured .head {
    font-weight: 700;
    position: relative;
    font-size: 48px;
    line-height: 68px;
    color: #000000;
    margin-bottom: 40px;
}

.featured .head::before {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 8px;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 84px;
}

.featured-video {
    height: auto;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    background-color: #fafafa;
}

.featured-video .card-body p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #878787;

}

.featured-video .card-body p svg {
    margin: 0px 10px;
}

/* featured section ends here  */


/* blogs page css start here  */

#blog-page {
    background: none;

}

#blog-page .blog-box {
    margin-bottom: 72px;
}



.leader-wrapper {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* blogs page css ends here  */


/* footer secton start here */


.army-img-mobile {
    display: none;
}


.footer-section ul li {

    list-style: none;
    color: white;
    padding: 6px 0px;
}

.footer-section .footer-row {
    padding: 0px 0px 70px 0px;
}

.footer-section .links ul li .dropdown .footer-dropdown {
    background-color: #000;
    border: none;
}

.footer-section .links ul li a {
    margin-left: 12px;
}

.footer-section .links ul {
    padding-left: 0;
}

.footer-section .links ul li .dropdown ul li {
    padding: 4px 0px;
}

.footer-section .links ul li .dropdown .footer-dropdown:focus-visible {
    outline: none !important;
}

.footer-section .links ul li .dropdown .footer-dropdown:active {
    box-shadow: none;
}

.footer-section .links ul li .dropdown ul li a {
    font-size: 14px;
    font-weight: 500;
    margin: 0px auto;
    padding: 0px 10px;
    display: inline-flex;
}

.footer-section .links ul li .dropdown ul li a:hover {
    color: #d90000 !important;
}

.footer-section .links ul li .dropdown .footer-dropdown svg {
    margin-left: 12px;
    font-size: 20px;
    align-items: center;
}

.footer-section .links ul li .dropdown .footer-dropdown svg path {
    fill: #d90000;
}

.footer-section .links {
    margin-top: 14px;
}

.footer-section .links ul li .accordion .accordion-toggle,
.footer-section .links ul li .accordion .accordion-content ul a {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.other-links ul li .army-links {
    margin-left: -30px;
}

.contact-links ul li {
    margin-left: -30px;
    color: #D90000;
}

.contact-links ul li i {
    margin-right: 30px;
}

.contact-links li p {
    /* margin-left: 22px; */
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    width: 80%;
}


.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section .contact-links ul li a {
    padding-left: 16px;

}

.footer-section h4 {
    color: white;
    margin-top: 16px;
}

.text-center {
    background: rgba(249, 249, 249, 0.15);
    color: #fff;
}

.footer-section {
    padding-top: 30px;
}

.footer-logo {
    margin-top: 30px;
    display: flex;
}



.footer-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-logo-img {
    width: 70%;
    height: auto;
}

footer .footer-logo {
    padding-bottom: 34px;
}

.list ul {
    display: flex;
    margin-left: -50px;
}

.list ul li {
    margin: 0px 20px;
    list-style: none;
}

.footer-logo-text {
    margin-left: 22px;
    margin-top: -4px;
}



.footer-img-army {
    width: 100%;
}

/* footer section end here  */


.slick-dots li button:before {
    background-color: #D90000;
    width: 28px;
    height: 6px;
    content: '';
}

.slick-dots {
    margin: -26px 0px;
}


/* post-independence-war-banner */

.post-independence-war-banner {
    display: flex;
    align-items: center;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.post-independence-war-banner .banner-content {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    color: #ffffff;
}

/* post-independence-war */

.post-independence-war .war-box {
    background-color: #ffffff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    height: 560px;
}

.post-independence-war .war-details {
    padding: 30px 16px;
}

.post-independence-war .war-details .head {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 8px;
}

.post-independence-war .war-details .text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464b;
    margin-bottom: 8px;
}

.post-independence-war .war-details .sm-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    color: #d90000;
    text-decoration: underline;
    padding-right: 10px;
    margin-bottom: 0;
}

.post-independence-war .war-details .war-right-arrow {
    display: flex;
    align-items: center;
}

.post-independence-war .war-box .war-image {
    overflow: hidden;
}

.post-independence-war .war-box .war-image img {
    width: 100%;
    transition: all 0.3s;
}

.post-independence-war .war-box:hover img {
    transform: scale(1.2);
}

/* opeartions-banner */

.bg-operation .slick-prev:before,
.slick-next:before {
    visibility: hidden;
}

.operations-banner {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.operations-banner .banner-content {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    color: #ffffff;
}

/* operations-war */

.operations-war .operations-war-box {
    background-color: #ffffff;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    height: 440px;
}

.operations-war .operations-war-details {
    padding: 16px 16px;
}

.operations-war .operations-war-details .head {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 8px;
}

.operations-war .operations-war-details .text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #45464b;
    margin-bottom: 8px;
}

.operations-war .operations-war-details .sm-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    color: #d90000;
    text-decoration: underline;
    padding-right: 10px;
    margin-bottom: 0;
}

.operations-war .operations-war-details .war-right-arrow {
    display: flex;
    align-items: center;
}

.operations-war .operations-war-box .operations-war-image {
    overflow: hidden;
}

.operations-war .operations-war-box .operations-war-image img {
    width: 100%;
    transition: all 0.3s;
}

.operations-war .operations-war-box:hover img {
    transform: scale(1.2);
}

/* regiments-and-corps-banner */

.regiments-and-corps-banner {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.regiments-and-corps-banner .banner-content {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    color: #ffffff;
}

/* regiments-and-corps-detail */

.regiments-and-corps-detail h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
    margin-bottom: 20px;
}

.regiments-and-corps-detail .heading-border {
    border-top: 1px solid #F2EDED;
    padding-top: 30px;
    margin-top: 60px;
}



.regiments-and-corps-detail p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464b;
    margin: 26px 0px;
}



.regiments-and-corps-detail .note ul li {
    list-style: decimal;
    margin: 12px 0px;
}

.regiments-and-corps-detail .box-table h2 {
    margin-bottom: 30px;
}

.regiments-and-corps-detail .box-table .table {
    border: 2px solid rgba(218, 218, 218, 1);
}

.regiments-and-corps-detail .box-table .table thead tr th {
    color: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.regiments-and-corps-detail .presidency {
    margin: 20px 0px;
}

.regiments-and-corps-detail span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

.regiments-and-corps-detail .presidency tbody,
.regiments-and-corps-detail .presidency tbody tr,
.regiments-and-corps-detail .presidency tbody tr th,
.regiments-and-corps-detail .presidency tbody tr td {
    border: 1px solid;
    width: 28%;
    padding: 12px 30px;
}

.regiments-and-corps-detail .presidency tbody tr td {
    padding: 12px 40px;
    text-align: center;
}

.table> :not(caption)>*>* {
    border-right: 2px solid #dadada;
    padding: 0.5rem 1.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.table> :not(:first-child) {
    border: 2px solid rgba(218, 218, 218, 1);
    counter-reset: red;
}

/* iconic-leaders-detail-banner */

.iconic-leaders-detail-banner {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.iconic-leaders-detail-banner .banner-content {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    color: #ffffff;
}

/* iconic-leaders-detail */

.iconic-leaders-detail h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
    margin-top: 50px;
    margin-bottom: 0;
}

.iconic-leaders-detail p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #45464b;
    margin: 30px 0;
}

/* iconic-leader */

.iconic-leaders-detailed-banner {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.iconic-leaders-detailed-banner .banner-content {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    color: #ffffff;
    /* position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%); */
}

.iconic-leader .iconic-leader-box {
    position: relative;
    margin-bottom: 100px;
    position: relative;
    margin-bottom: 130px;
    text-align: center;
}

.iconic-leader .iconic-leader-box .content {
    position: absolute;
    width: 80%;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 4px 10px 5px rgba(171, 171, 171, 0.1);
    left: 10%;
    bottom: -55px;
    padding: 16px;
    cursor: pointer;
}

.iconic-leader .iconic-leader-box .content .come-in .title {
    text-decoration: none;
}

.iconic-leader .iconic-leader-box .content .come-in .title h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 5px;
}

.iconic-leader .iconic-leader-box .content .come-in .title p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #45464b;
    margin-bottom: 10px;
}

.iconic-leader .iconic-leader-box .content .come-in .read-more {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    text-decoration-line: underline;
    color: rgba(217, 0, 0, 1);
}

.iconic-leader-pages .row>div .iconic-leader-box {
    margin-bottom: 60px;
}

.post {
    display: none;
}

.post.col {
    width: 20%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.post.active {
    display: block;
}

.iconic-leader .iconic-leader-box .image {
    overflow: hidden;
}

.iconic-leader .iconic-leader-box .image img {
    width: 100%;
    transition: all 0.3s;
}

.iconic-leader .iconic-leader-box:hover img {
    transform: scale(1.2);
}

/* profile */

.profile {
    background: linear-gradient(354.94deg,
            rgba(224, 224, 224, 0.6) 8.57%,
            rgba(243, 243, 243, 0) 96.9%);
}

.profile .profile-logo {
    margin-bottom: 15px;
}

.profile .profile-desc .profile-detail {
    margin: 15px 0;
    display: flex;
}

.profile .profile-desc .profile-detail p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.profile .profile-desc h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #0f0e0e;
}

.profile .profile-desc {
    height: 450px;
}

.profile .profile-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #45464b;
}

.profile .tweets-box .shadow-box {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 450px;
}

.profile .tweets-box .tweets-desc {
    background-color: rgba(247, 246, 246, 1);
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
}

.profile .tweets-box .tweets-desc .tweets-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .tweets-box .tweets-desc .tweets-detail p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #636464;
    margin-bottom: 0;
}

.profile .tweets-box .tweets-desc .tweets-detail p span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2176ba;
}

.profile .tweets-box .tweets-content {
    padding: 10px 22px;
}

.profile .tweets-box .tweets-content .tweets-logo-image img {
    margin: 22px 0;
}

.profile .tweets-box .tweets-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #45464b;
}

.profile .facebook-box .facebook-combine-box {
    height: 450px;
}

#leaders .iconic-leader-box:hover img {
    transform: none;
}

#leaders .iconic-leader-box {
    margin-bottom: 70px;
    margin-right: 25px;
}

#leaders .slick-slide img {
    display: initial;
}

.iconic-leader .head {
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    color: #000000;
    margin-top: 48px;
    position: relative;
}



#leaders .head::before {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 8px;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 84px;
}

/*  */

.center {
    text-align: center;
}

.icons {
    background: #fff;
    padding-bottom: 50px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0px 6px;
    background: #E4E4E4;
    border-radius: 20px;
}

.pagination a.active {
    background-color: #d90000;
    color: white;
    border-radius: 20px;
}

.pagination a:hover:not(.active) {
    background-color: #d90000;
    color: #fff;
    border-radius: 20px;
}

#images .image-main {
    /* height: 390px; */
    height: auto;
    margin: 20px 0px 15px;
    cursor: pointer;
}

#images .image-main .card-img-top {
    height: 360px;
}

#images .img-body {
    padding: 22px 0px;
}





/* gallantry-award css start here  */

.gallantry-award span.center {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.gallantry-award span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: block;
     margin-bottom: 20px;
}

.gallantry-award .list-classes {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.gallantry-award .image-bg img {
    height: 400px;
    margin-bottom: 20px;
}

.gallantry-award .image-place {
    height: 400px;
    width: auto;
    background-color: #dddcdc;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 20px;
}

.gallantry-award .image-place .center {
    text-align: center;
}


.gallantry-award h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    color: #050505;
}


.gallantry-award h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
    border-top: 1px solid #F2EDED;
    padding-top: 30px;
    margin-top: 30px;
}

.gallantry-award p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #45464B;
    margin-bottom: 30px;
}

.gallantry-award .note ul li {
    list-style: decimal;
}

.table-data {
    text-align: -webkit-center;
    text-align: center;
}

.table-img img {
    height: auto;
    width: 100%;
}


.award .table-data .table-img {
    padding: 20px 26px;
    width: 32%;
}

.award .table-data .table-img span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #000000;
}

.award .table-data .border-table {
    width: 100%;
}

.border-table td {
    border-width: 1px;
    border-color: inherit;
    border-style: solid;
}

.award .table-data .t-head {
    padding: 16px 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.award .table-data .t-para {
    padding: 16px 37px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.t-none {
    border-top: none !important;
}

.b-none {
    border-bottom: none !important;
}

.award .para p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

.award .content {
    margin: 62px 0px;
}

.award .content .citation {
    padding-top: 54px;
}

.award .content .citation h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-transform: capitalize;
    color: #050505;
}

.award .content .citation p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

.award .link-border {
    border-top: 1px solid #F2EDED;
    padding-top: 15px;
}

.link-border {
    border-top: 1px solid #F2EDED;
    padding-top: 15px;
}

/* gallantry-award css ends here  */

.structure-img .box-img img {
    padding-bottom: 90px;
    width: 100%;
}
#faq-section .content  {
    position: relative;
}

.full-wdt .operations-war-box a,
.full-wdt .operations-war-box a {
    text-decoration: none;
}

#myModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
.modal-content-img {
    margin: auto;
    display: block;
    max-height: 84%;
    width: auto;
}

.modal-content-img {
    position: relative;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.water-mark {
    position: absolute;
    top: 22%;
    left: 30%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
#myModal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#myModal .close:hover,
#myModal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* gallerant page css starts here  */

.gallantry {
    background-color: #fff;
}

.gallantry .gallantry-img {
    text-align: center;
}

.gallantry .about-award .head,
.gallantry .about-award ul .head {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
}

.gallantry .about-award .para {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #050505;
}

.gallantry .about-award ul .para {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #050505;
    padding: 8px 0px;
}

#award .heading {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 40px;
    line-height: 36px;
    color: #050505;
}

#award,
.paramvir-chakra {
    background-color: #fff;
}

#award .para {
    text-align: center;
    margin-top: 24px;
}

#award .image-main {
    padding-bottom: 50px;
}

.paramvir-chakra .about-paramvir h5,
.paramvir-chakra .reverse .param-vir-chakra h5 {
    font-weight: 700;
    line-height: 36px;
    color: #050505;
    margin-bottom: 25px;
}

.paramvir-chakra .about-paramvir ul {
    margin: 25px 0px;
}

.paramvir-chakra .about-paramvir ul li {
    margin: 12px 0px;
}

.paramvir-chakra .about-paramvir ul li p,
.paramvir-chakra .reverse .param-vir-chakra ul li p {
    font-weight: 400;
}

.paramvir-chakra .param-img {
    text-align: center;
}

.paramvir-chakra .reverse {
    flex-direction: row-reverse;
    padding-top: 130px;
    padding-bottom: 80px;
}

.paramvir-chakra .param-vir-chakra {
    padding: 75px 0px;
}

.paramvir-chakra .eligible .para {
    font-family: 'Poppins';
}

.paramvir-chakra .eligible ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 0px;
    color: #45464B;
}

.paramvir-chakra .eligible p {
    font-weight: 400;
}

.paramvir-chakra .eligible .img-row {
    margin-top: 42px;
}


#maha-vir .reverse {
    padding-top: 0px;
}

#maha-vir .param-vir-chakra {
    padding: 46px 0px;
}

/* gallerant page css ends here  */


/* image page css start here  */


.search {
    position: relative;
    width: 66%;
    margin-bottom: 17px;
}

.audio .align-items-center {
    border-bottom: 1px solid #e4e4e4;
    margin: 0 36px;
    height: 103px;
}

.filter {
    padding-top: 25px;
}

.search input {
    height: 56px;
    text-indent: 25px;
    border: none;
    background-color: #F9F9F9;
}

.btn:focus {
    box-shadow: none;
}


.btn-primary:focus {
    background-color: #d90000;
    border-color: none;
    box-shadow: none;
}

.search input:focus {

    box-shadow: none;
}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button {

    position: absolute;
    top: 0px;
    right: 1px;
    height: 55px;
    width: 104px;
    background: #d90000;
    border: none;

}

.search button:hover {
    background: #d90000;

}

.search .icon {
    position: absolute;
    bottom: 18px;
    left: 12px;
}


/* image page css end here  */



/* blog-detail page */

.blog-detail {
    padding: 70px 0 140px 0;
    background: none;
}

.blog-detail h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
}

.blog-detail .b-img {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.blog-detail .b-img img {
    margin-top: 0;
}

.blog-detail .b-img p {
    margin-bottom: 0;
    padding-left: 10px;
    color: #5F5F5F;
    font-size: 18px;
    line-height: 21px;
}

.blog-para p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

.blog-para img {
    margin-bottom: 50px;
    width: 100%;
}

.blog-para h3 {
    font-size: 36px;
    line-height: 49px;
    margin-top: 50px;
    color: #231f20;
}

.blog-detail .recent-posts {
    border: 1px solid #C6C6C6;
    width: 380px;
    border-radius: 4px;
    height: 100%;
    padding: 24px;
}

.blog-detail h4 {
    font-size: 24px;
    line-height: 33px;
    color: #231f20;
}

.blog-detail .recent-posts hr {
    background-color: #231f20;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.blog-detail p {
    font-size: 16px;
    line-height: 26px;
    color: #231f20;
    margin-bottom: 35px;
}

.blog-detail .recent-posts .recent {
    font-size: 16px;
    line-height: 26px;
    color: #231f20;
}

.blog-detail .recent-posts ul {
    list-style: upper-roman;
}

.blog-detail .recent-posts ul li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 12px 0px;
    line-height: 26px;
    color: #231F20;
}

.socail-icons {
    margin: 32px 0px;
}

.comment-form .form-control {
    width: 32%;
    border: 1px solid #E1E1E1;
    padding: 9px 26px;
}

.comment-form .input-field {
    display: flex;
    margin-top: 48px;
}

.comment-form #area {
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 16px 30px;
    height: 180px;
}

.comment-form .form-margin {
    margin-left: 18px;
}

.comment-form .form-control:focus {
    box-shadow: none;
}

:focus-visible {
    outline: 1px solid #E1E1E1 !important;

}

.comment-form .head {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin: 50px 0px;
}

.comment-form .head::after {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 0px;
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 40px;
}

.comment-form .post-btn {
    padding: 8px 16px;
    width: 24%;
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    border-radius: 5px;
    background: #d90000;
    color: #FFFFFF;
}

.pagejump .previous {
    display: flex;
}

.pagejump img {
    width: 129px;
    height: 109px;
}

.pagejump {
    border-top: 2px solid #F7F7F7;
    border-bottom: 2px solid #F7F7F7;
    padding: 30px 0px;
}

.pagejump p {
    padding: 16px;
    font-size: 14px;
    margin: 0px;
}

.pagejump a {
    color: #d90000;
    text-decoration: none;
}

.pagejump .next {
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
}

.Comment-box .user-comment {
    background: #f8f8f8;
    padding: 23px 38px;
    margin: 24px 0px;
}

.Comment-box .user-comment .reply {
    display: flex;
}

.Comment-box .user-comment .reply h5 {
    width: 90%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.Comment-box .user-comment p {
    font-weight: 400;
    font-size: 14px;
    width: 80%;
    line-height: 20px;
    color: #878787;
    margin-bottom: 24px;
}

.Comment-box .user-comment .reply h5 p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.Comment-box .user-comment .reply a {
    text-decoration: none;
    border: 1px solid #d90000;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    background: white;
    font-size: 20px;
    line-height: 32px;
    color: #E03E3E;
    padding: 8px 16px;
    margin-bottom: 24px;
}

.Comment-box .user-comment .reply a:hover {
    background: #d90000;
    color: #fff;
}

.Comment-box {
    padding: 74px 0px;
}

.Comment-box .comment-row h3 {
    padding-bottom: 74px;
    font-weight: 700;
    position: relative;
    font-size: 20px;
    line-height: 20px;
}

.Comment-box .comment-row h3::after {
    content: "";
    position: absolute;
    background-color: #D90000;
    left: 2px;
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px;
    gap: 10px;
    width: 50px;
}

.comment-row .load-more {
    text-align: center;
    padding-top: 70px;
}


.comment-row .load-more a {
    text-decoration: none;
    border: 1px solid #d90000;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    background: white;
    font-size: 20px;
    line-height: 32px;
    color: #E03E3E;
    padding: 8px 16px;
    margin-bottom: 24px;
}

.Comment-box .load-more a:hover {
    background: #d90000;
    color: #fff;
}


/* ends here  */



/* video page start here  */

#video-page .featured-video {
    margin-bottom: 70px;
}


#video-page br {
    display: none;
}



/* video page ends here  */




/* podcast css section */

.audio-play {
    background-color: #fff;
}

.audio-play .head {
    font-weight: 700;
    line-height: 42px;
    color: #323232;
    margin: 32px 0px;
}

.audio-play .audio {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 5px rgba(201, 201, 201, 0.15);
    border-radius: 10px;
    margin: 28px 0px;
}

.audio-play .audio a .play-img {
    max-width: 50px;
    height: auto;
    width: 100%;
}

.about__audio .para {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #323232;
    padding-left: 14px;
    font-weight: 400;
    margin-bottom: 0;
}



.audio-play .audio .play-btn .para {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding: 15px 17px;
    margin: 0px;
}

.audio-play .audio .play-btn {
    display: flex;
}

.audio-play .audio .wave {
    text-align: center;
    flex: 1;
}

.audio-play .audio .wave .wave-img {
    max-width: 530px;
    width: 100%;
    height: auto;
}

.audio-play .audio .time {
    display: flex;
    align-items: center;
}

.audio-play .audio .time .time-img {
    max-width: 32px;
    height: 32px;
}



.audio-play .audio .time .time-para {
    margin-bottom: 0;
    margin-left: 15px;
}

.audio-play .audio .time a {
    margin-left: 34px;
}




/* Faq section starts here  */


.indep-war .featured-video .card-body {
    width: 94%;
}

.indep-war .featured-video .card-body h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
}

.indep-war .featured-video .card-body p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #45464B;
    text-align: left !important;
    padding: 0px 0px !important;
}

#faq-section {
    background-color: #fff;
}


#faq-section .accordion {
    border-top: 0;
    width: 100%;
    margin-top: 2%;
    overflow: hidden;
    text-align: left;
    background: #F5F5F5;
    position: sticky;
    position: -webkit-sticky;
    top: 1rem;

}

#faq-section .accordion h6 {
    padding: 16px 20px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(44, 65, 62, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #454545;
    margin-bottom: 0px;
}

#faq-section .accordion h6:first-child {
    border-top: 1px solid rgba(44, 65, 62, 0.15);
}

#faq-section .accordion h6 i {
    position: absolute;
    top: 16px;
    left: 22px;
    font-size: 32px;
    color: #97c348;
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

#faq-section .accordion h6.active i {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#faq-section .accordion h6.active {
    color: #232323;
    border-bottom: 0;
}


#faq-section .accordion-content ul a li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #454545;
    border-top: 1px solid #e6dada;
    width: 88%;
    padding: 10px 0px;
}


#faq-section .accordion-content ul a {
    list-style: none;
    text-decoration: none;
    color: #454545;
}

#faq-section .accordion-content ul a li:hover {
    color: #d90000;
}

#faq-section .accordion-content {
    display: none;
    padding: 0px;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
    border-bottom: 1px solid rgba(44, 65, 62, 0.15);
}

#faq-section section#faq-section a {
    border: 1px solid #97c348;
    background: #97c348;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 40px;
    display: inline-block;
}

#faq-section .accordion-toggle::before,
#faq-section .tt-item .tt-collapse-title::before {
    content: "+";
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    line-height: 1;
    color: #252525;
    transform: translateY(-50%);
}

#faq-section .accordion-toggle.active::before,
#faq-section .tt-item.active .tt-collapse-title::before {
    content: "-";
    color: #093052;
}


#faq-section .content .sino-war-text {
    position: absolute;
    right: 4%;
    width: 41%;
    top: 84%;
    /* transform: translateY(-100px); */
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 18px;
}


#faq-section .war-content h4 {
    position: relative;
    left: 72%;
    width: 22%;
    transform: translateY(-110px);
    color: #fff;
    border: 2px solid #fff;
    padding: 11px 10px;
}

#faq-section .accordion-details {
    margin-top: 77px;
    margin-bottom: 80px;
}

#faq-section .accordion-details h3 {
    background-color: #E7E7E7;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    color: #D90000;
    padding: 7px 10px;
    margin-bottom: 48px;
}

#faq-section .accordion-details .war-details h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
    margin-top: 50px;
    margin-bottom: 18px;
    padding-top: 15px;
    border-top: 1px solid #F2EDED;
}

#faq-section .accordion-details .war-details p {
    font-weight: 400;
}


#faq-section .image-gallery {
    border-top: 1px solid #F2EDED;
    margin: 50px 0px;
}

#faq-section .image-gallery h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #d90000;
    padding: 40px 0px;
    background-color: #fff;
}

#faq-section .image-gallery img {
    width: 100%;
    height: auto;
}

#faq-section .image-gallery p {
    text-align: center;
    padding: 20px 0px;
    font-size: 12px;
}
.btn-filter {
    display: -webkit-inline-box;
    padding-top: 15px;
}
.btn-group {
    width: 150px;
}
.btn-group .filter-btn {
    border: 2px solid #000;
    text-align: start;
    height: 53px;
}
.filter .btn-filter p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin: 3px;
}

.btn-group .filter-btn img {
    margin-left: 66px;
}

.drop {
    text-align: -webkit-center;
    min-width: 100% !important;
}

.drop li a:hover {
    color: #d90000;
}

.drop li {
    border-bottom: 1px solid #E4E4E4;
    ;
    width: 74%;
}

.drop li a {
    text-decoration: none;
    font-style: none;
    color: #000;
}

.block-dis {
    display: none;
}


.slick-prev:before,
.slick-next:before {
    font-size: 45px;
    color: #D90000;
    opacity: 1;
    visibility: visible !important;
}

.slick-next {
    right: 24px;
    z-index: 999;
}

.slick-prev {
    left: -8px;
    z-index: 999;
}

#operation .slick-next {
    right: 8px;
    z-index: 999;
}

#operation .slick-prev {
    left: -15px;
    z-index: 999;
}

.regiments-and-corps-detail h2 {
    padding-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
    margin-bottom: 20px;
    margin-top: 70px;
    border-top: 1px solid #F2EDED;
}

.regiments-and-corps-detail h3{
    /* padding-top: 30px; */
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #050505;
    margin-bottom: 20px;
    margin-top: 70px;
    /* border-top: 1px solid #F2EDED; */
}

.regiments-and-corps-detail h2:first-child {
    border-top: 0px;
    padding-top: 0px;
    margin-top: 20px;
}

.box-table h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
    margin: 70px 0 29px 0;
}

#faq-section .accordion-details .pawan-war-details h4 {
    background-color: #E7E7E7;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    color: #D90000;
    padding: 7px 45px;
    margin-bottom: 41px;
}

#faq-section .accordion-details .pawan-war-details p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

#faq-section .accordion-details .pawan-war-details img {
    width: 100%;
    height: auto;
    margin: 50px 0 40px;
}


#faq-section .accordion-details .pawan-war-details .small-note,
.small-note-2,
.war-2-content,
.pawan-note-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

#faq-section .accordion-details .pawan-war-details .small-note ol,
.pawan-note-2 ol {
    padding-left: 20px;
}

.small-note-2 {
    margin-bottom: 61px;
}

.small-note {
    margin-bottom: 20px;
}

.pawan-note-2 {
    margin: 0px 0px 50px;
}

#faq-section .small-content h3 {
    position: absolute;
    bottom: -8%;
    left: 73%;
    color: #fff;
    border: 2px solid #fff;
    padding: 11px 10px;
}

.content .small-banner {
    display: flex;
    align-items: center;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}





.pawan-war-details h2 {
    position: absolute;
    bottom: 22%;
    left: 70%;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
}

.pawan-war-details h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin: 69px 0 15px;
}


.war-note h2 {
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

tr {
    border-width: 2px;
}

.award-section .table-data .border-table tbody tr {
    border-width: 0px;
}

.box-table h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #45464B;
}

.table-wrap {
    margin: 70px 0px;
}

.map img {
    margin-bottom: 70px;
}

.war-2-map-2 {
    margin: 40px 0px;
}

.war-2-map-2 img {
    margin: 20px 0px !important;
}

.war-2-content ol {
    padding-left: 20px;
}

.pawan {
    margin-top: 57px
}


.award .award-section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.marshal-wrap {
    display: flex;
    flex-wrap: wrap;
}

.accordion .accordion-sub-tab,
.accordion .accordion-content ul a .sub-class {
    margin-left: 12px;

}


/* Contact page css here */

.contact-section .heading h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: Foundry Sterling W02l, sans-serif;
    letter-spacing: 0;
    color: #d90000;
}

.contact-section .contact-page h3 {
    font-size: 18px;
    font-weight: 501;
    color: #2f2f2f;
    margin-bottom: 10px;
    width: 70%;
}

.contact-section .contact-page {
    padding: 50px 0px;
}

.contact-section .contact-page p {
    font-size: 14px;
    margin-bottom: 25px;
    width: 70%;
    color: #626262;
}

.contact-section .contact-form form.form-group label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #626262;
    font-size: 14px;
}

.form-control:focus {
    border-color: #d5e5ee;
    box-shadow: none;
}

.contact-section .contact-form form.form-group .form-row textarea {
    width: 100%;
    background-color: #fff;
    color: #626262;
    box-shadow: inset 0 0 2px 2px rgb(0 0 0 / 2%);
    padding: 10px;
    font-size: 15px;
    border: 1px solid #d5e5ee;

}

.contact-section .contact-form form .sub-btn {
    background: #d90000;
    color: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    border: 1px solid #d90000;
    display: block;
    border-radius: 8px;
}

.google-map {
    padding-bottom: 0px;
}

#faq-section .accordion-content.active {
    display: block !important;
}

.low-letter {
    list-style: lower-alpha;
}
.low-letter li {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
}

.map .box {
    margin-bottom: 26px;
}

.map .box img {
    margin: 0;
}